body{
    background-color: #eddbc4;
    margin: 0;
    padding: 0;
    font-family: "'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif";
    height: 100%;
    width: 100%;
}

::placeholder{
    color: #000;
    padding: .5rem;
}

label{
    font-family: 'Dokdo', cursive;
    color:#ffb353;
    font-size: xx-large;
}

main{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 2rem;
}

.form{
    margin: 0;
    display: grid;
    justify-content: center;
    align-content: center;
    align-items: center;
    justify-items: stretch;
}

/*HEADER*/
header{
    display: flex;
    justify-content: end;
    font-family: fantasy;
    color: #ffb353;
    height: 7rem;
    height: 6rem;
    background-color: #8a8388;
}

.conTitulo{
    width: 30%;
    background-color: #a3c9a7;
    display: flex;
    justify-content: end;
    align-items: center;

}

.titulo{
    font-family: 'Dokdo', cursive;
    font-size: 4em;
    padding: 0;
    margin : 0;
    color:#FB6A3D;
    text-align: center;
}

.tituloh2{
    font-family: 'Dokdo', cursive;
    font-size: 2em;
    padding: 0;
    margin : 0;
    color:#FB6A3D;
    text-align: center;
}

.contImg{
    width: auto;
    align-items: center;
    display: flex;
}

.logo{
    justify-content: center;
    width: 100px;
    margin: 0 20px 0 0;
}

/*NAVEGACION*/

nav {
    width: 100%;
    background-color: #a3c9a7;
    display: flex;
}

nav ul {
	margin: 0;
	padding: 0;
	list-style: none;
    width: 70%;
}
	
nav ul li {
	display: inline-block;
	line-height: 105px;
}
			
nav ul li a {
    font-size: 20px;
	display: block;
    padding: 0 10px;
    padding-left: 50px;
    padding-right: 50px;
    text-decoration: none;
}
			
nav ul li a:hover {
	background:#FB6A3D;
}

a{
    text-decoration: none;
    color: #000;
    padding: 1rem 3rem;
}

/*GENERALES*/
.button{
    background-color: #ffb353;
    border: 0ch;
    border-radius: 50px;
    padding: .5rem;
    margin: .5rem;
    text-align: center;
    font-size: medium;
}

input, select, textarea{
    border-radius: 50px;
    border: none;
    margin: .5rem;
    padding: .5rem;
}

/*FOOTER*/
footer{
    background-color: #8a8388;
    height: auto;
    text-align: center;
    padding: .3rem;
}

/*querys*/
/*navegador*/
@media  only screen and (max-width: 600px) {
    .navegador{
        display: flex ;
        flex-direction: column;
        padding: 0;
    }

    .navegador a{
        
        align-self: center;
    }

    .form .button{
        width: 100%;
    }
}

/* custom cursor */
* {
    cursor: url("../imagenes/cursor/default-cursor.png"), auto;
}

button:hover, a:hover, select option{
    cursor: url("../imagenes/cursor/hover-cursor.png"), auto;
}