.contenedor{
    display: grid;
    justify-content: center;
    background-color: #8a8388;
    border-radius: 50px;
    padding: 1rem;
    width: 45rem;
    height: 40rem;
}

.form{
    margin: 0;
    display: grid;
    justify-content: center;
    align-content: center;
    align-items: center;
    justify-items: stretch;
    grid-template-columns: 1fr 1fr;
}

input, select, textarea{
    margin: .5rem;
    padding: .5rem;
}

.selector-tamaño{
    grid-column: 1/2;
    grid-row: 2/3;
}

.input-edad{
    grid-column: 1/2;
    grid-row: 3/4;
}

.input-raza{
    grid-row: 4/5;
    grid-column: 1/2;
}
.input-obs{
    grid-column: 1/3;
    grid-row: 5/6;
    border-radius: 10px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode';
}

.contenedor-imagenes{
    grid-row: 1/5;
}

.contenedor-button{
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-self: stretch;
    align-self: stretch;
    grid-column: 1/3;
}

.button{
    justify-self: stretch;
    align-self: stretch;
}
