header{
    margin-bottom: 50px;
}

main{
    background-color: #8A8388;
    width: 70%;
    border-radius: 10px;
    margin: 0 auto;
}

h1{
    font-size: 50px;
    text-align: center;
    color: black;
    margin-top: 10px;
    margin-bottom: 10px;
}

textarea, label{
    background-color: #BDBDBD;
    border-radius: 5px;
    width: 98.8%;
    height: 350px;
    outline: none;
    font-size: 20px;
}

textarea{
    padding-top: 10px;
    padding-left: 10px;
}

form{
    width: 90%;
}

button{
    font-family: 'Dokdo', cursive;
    font-size: 30px;
    background-color: #FFB353;
    border-radius: 10px;
    width: 100%;
    height: 50px;
    border: none;
    margin-top: 20px;
    margin-bottom: 30px;
}

button:hover{
    background-color: #FB6A3D;
}