main{
    display: grid;
}

input, select, textarea{
    margin: .5rem;
    padding: .5rem;
}

.contenedor-perfil{
    display: flex;
    justify-content: space-between;
    align-self: center;
    border-bottom: #8a8388;
    border-bottom-style: dashed;
    margin: 1rem;
}

.contenedor-datos{
    justify-content: start;
    align-content: center;
    background-color: #8a8388;
    border-radius: 50px;
    padding: 1rem;
    width: 30rem;
    height: auto;
}

.parrafo{
    justify-content: stretch;
    margin: 1rem;
    border-bottom: #fff;
    border-bottom-style: double;
}