<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/css2?family=Dokdo&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="../css/basic.css">
    <link rel="stylesheet" href="../css/inicio.css">
    <link rel="shortcut icon" href="../img/logo.png" type="image/x-icon">
    <title>PetHero</title>
</head>
<body>
    <header>
        
        <nav>

            <ul>
                <li><a href="inicio.html">Inicio</a></li>
                <li><a href="#">Sobre nosotros</a></li>
                <li><a href="#">Contacto</a></li>
            </ul>

            <div class="conTitulo"><h1 class="titulo">PetHero</h1></div>
            <div class="contImg"><img class="logo" src="../img/logo.png" alt="Logo"></div>

        </nav>
    </header>

    <main>
        <div class="contenedor">
            <h1 class="titulo">Inicio sesion</h1>

            <form class="form"> 
                <input class="input_email" type="email" required placeholder="Email"> 
                <input class="input_contra" type="password" required placeholder="Contraseña">
                <button  class="button iniciar" type="submit">Iniciar</button>
            </form>

            <div class="contenedor-registrarse">
                <h2 class="tituloh2">Registrarse como</h2>
                <button class="button">Dueño</button>
                <button class="button">Guardian</button>
            </div>
            
        </div>
    </main>

    <footer>
        <p>footer</p>
    </footer>