<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link href="https://fonts.googleapis.com/css2?family=Dokdo&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="../css/basic.css">
    <link rel="stylesheet" href="../css/reservar-guardian.css">
    <link rel="shortcut icon" href="../imagenes/logo.png" type="image/x-icon">

    <title>Reservar guardian</title>
</head>
<body>
    <header>
        <nav>
            <ul>
                <li><a href="inicio.html">Inicio</a></li>
                <li><a href="#">Sobre nosotros</a></li>
                <li><a href="#">Contacto</a></li>
            </ul>

            <div class="conTitulo"><h1 class="titulo">PetHero</h1></div>
            <div class="contImg"><img class="logo" src="../imagenes/logo.png" alt="Logo"></div>
        </nav>
    </header>

    <main class="contenedor">
        <div class="heading">

            <img class="foto" src="../imagenes/perfil.png" alt="Perfil">

            <h1 class="perf">Perfil</h1>

            <img class="huella" src="../imagenes/huellas-perro.png" alt="Huellas">

        </div>

        <div class="info-y-enviar">
            <div class="contenedor-datos ">
                    <div class="datosGuardian"><p>Nombre</p></div>
                    <div class="datosGuardian"><p>Apellido</p></div>
                    <div class="datosGuardian"><p>Edad</p></div>
                    <div class="datosGuardian"><p>Email</p></div>
                    <div class="datosGuardian"><p>Telefono</p></div>
                    <div class="datosGuardian"><p>Tipo de perro</p></div>
            </div>
    
            <div class="formReservaGuardian">
                <h1>Selecciona el dia</h1>
                
                <form action="" method="get">
                    <div class="inputs">
                        <input type="date" name="fechaRequerida">
                        <input class="horaForm" type="time" name="horaInicial">
                        <input class="horaForm" type="time" name="horaFinal">
                    </div>

                    <button class="" type="submit">Elegir</button>
                </form>
            </div>
        </div>
    </main>
</body>
</html>