.contenedorChats{
    background-color: #8A8388;
    height: auto;
    width: auto;
    padding: 4rem;
    border-radius: 50px;
}

h1{
  font-family: "Dokdo", cursive;
  text-align: center;
}

.chat{
    background-color: #ffb353;
    width: 20rem;
    border-radius: 50px;
    padding: 0.5rem;
    margin: 1rem;
    text-align: center;
    font-size: medium;
}
