main{
    display: grid;
}

input, select, textarea{
    margin: .5rem;
    padding: .5rem;
}

h1{
    text-align: center;
    font-family: "Dokdo", cursive;
    color: #ffb353;
}

.contenedor-perfil{
    display: flex;
    justify-content: space-between;
    align-self: center;
    border-bottom: #8a8388;
    border-bottom-style: dashed;
    margin: 1rem;
}

.contenedor-datos{
    justify-content: start;
    grid-column: 1/2;
    align-content: center;
    background-color: #8a8388;
    border-radius: 50px;
    padding: 1rem;
    margin: 2rem;
    width: 30rem;
    height: 90%;
}

.contenedor-datos-servicio{
    justify-content: start;
    grid-column: 2/3;
    align-content: center;
    background-color: #8a8388;
    border-radius: 50px;
    padding: 1rem;
    margin: 2rem;
    width: 30rem;
    height: 90%;
}

.parrafo{
    justify-content: stretch;
    margin: 1rem;
    border-bottom: #fff;
    border-bottom-style: double;
}