header{
    margin-bottom: 3%;
}

main{
    background-color: #868F96;
    display: flex;
    flex-direction: column;
    width: 60%;
    height: 100%;
    margin: 0 auto;
    border-radius: 10px 10px 0 0;
    border: 2px solid black;

    animation-name: none;
    animation-duration: 0ms;
}

.tituloG{
    color: black;
    font-family: 'Dokdo', cursive;
    font-size: 4em;
    padding: 0;
    margin : 0;
    text-align: center;
}

.info h2 {
    font-family: 'Dokdo', cursive;
    font-size: xx-large;
    margin: 1% auto 1% 3%;
}

.igual{
    margin: 10px;
    width: 80%;
    background-color: #EDDBC4;
    border-radius: 10px;
    display: flex;
    margin-bottom: 50px;
    height: 100%;
}

.info{
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    align-items: flex-start;
}

p, .info button{
    margin: 1% auto 1% 3%;
    padding: 0;
}

.imagenPerf{
    margin: 0;
    padding: 0;
    width: 200px;
    height: auto;
    background-color: #868F96;
}

.info button{
    font-family: 'Dokdo', cursive;
    font-size: large;
    background-color: #FFB353;
    border-radius: 10px;
    width: 100%;
    border: none;
    padding: 2%;
    justify-content: flex-end;
}

.info button:hover{
background-color: #FB6A3D;
}

.Aceptar-Rechazar{
    display: flex;
    align-self: flex-end;
    padding: 5%;
    width: 40%;
}
