<!DOCTYPE html>

<html lang="en">

<head>

    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link href="https://fonts.googleapis.com/css2?family=Dokdo&display=swap" rel="stylesheet">
    <link href="../css/basic.css" rel="stylesheet">
    <link href="../css/verPagosPendientes.css" rel="stylesheet">
    <link rel="shortcut icon" href="../img/logo.png" type="image/x-icon">

    <title>Pagos Pendientes</title>

</head>

<body>

    <header> 
        <nav>

            <ul>
                <li><a href="inicio.html">Inicio</a></li>
                <li><a href="#">Sobre nosotros</a></li>
                <li><a href="#">Contacto</a></li>
            </ul>

            <div class="conTitulo"><h1 class="titulo">PetHero</h1></div>
            <div class="contImg"><img class="logo" src="../img/logo.png" alt="Logo"></div>

        </nav>
    </header>

    <main>
        <div class="contenedor">
            <h1>Pagos pendientes</h1>

            <div class="padre">
                <div class="hijo">
                    <h2>Guardian</h2>
                    <h3>Tipo de perro</h3>
                    <p>Descripcion de guardian</p>
                    <a href="#">Pagar</a>
                </div>

                <div class="hijo">
                    <h2>Guardian</h2>
                    <h3>Tipo de perro</h3>
                    <p>Descripcion de guardian</p>
                    <a href="#">Pagar</a>
                </div>

                <div class="hijo">
                    <h2>Guardian</h2>
                    <h3>Tipo de perro</h3>
                    <p>Descripcion de guardian</p>
                    <a href="#">Pagar</a>
                </div>

                <div class="hijo">
                    <h2>Guardian</h2>
                    <h3>Tipo de perro</h3>
                    <p>Descripcion de guardian</p>
                    <a href="#">Pagar</a>
                </div>
            </div>
        </div>
    </main>

</body>

</html>