<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link href="https://fonts.googleapis.com/css2?family=Dokdo&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="../css/basic.css">
    <link rel="stylesheet" href="../css/historialDeServiciosAdquiridos.css">
    <link rel="shortcut icon" href="../imagenes/logo.png" type="image/x-icon">

    <title>Historial de servicios adquiridos</title>

</head>

<body>
    
    <header> 
        <nav>

            <ul>
                <li><a href="inicio.html">Inicio</a></li>
                <li><a href="#">Sobre nosotros</a></li>
                <li><a href="#">Contacto</a></li>
            </ul>

            <div class="conTitulo"><h1 class="titulo">PetHero</h1></div>
            <div class="contImg"><img class="logo" src="../imagenes/logo.png" alt="Logo"></div>

        </nav>
    </header>

    <main>

       <div class="contenedor">

            <h1 class="tit">Historial de servicios adquiridos</h1>                

            <div class="contInfo">
                <p class="item1">Nombre guardian: .................</p>
                <p class="item3"><b>Fecha de pago: .................</b></p>
                <p class="item2">Monto: .................</p>
                <p class="item4"><b>Numero de comprobante: .................</b></p>
                <a class="linkA" href="RealizarReview.html">Subir review</a>
            </div>

            <div class="contInfo">
                <p class="item1">Nombre guardian: .................</p>
                <p class="item3"><b>Fecha de pago: .................</b></p>
                <p class="item2">Monto: .................</p>
                <p class="item4"><b>Numero de comprobante: .................</b></p>
                <a class="linkA" href="RealizarReview.html">Subir review</a>
            </div>

       </div> 

    </main>

</body>

</html>