<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link href="https://fonts.googleapis.com/css2?family=Dokdo&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="../css/basic.css">
    <link rel="stylesheet" href="../css/pagar.css">

    <title>Pagar</title>

</head>

<body>

    <header> 
        <nav>

            <ul>
                <li><a href="inicio.html">Inicio</a></li>
                <li><a href="#">Sobre nosotros</a></li>
                <li><a href="#">Contacto</a></li>
            </ul>

            <div class="conTitulo"><h1 class="titulo">PetHero</h1></div>
            <div class="contImg"><img class="logo" src="../imagenes/logo.png" alt="Logo"></div>

        </nav>
    </header>

    <main>
        <div class="contenedor">

            <form class="formulario" action="" method="">

                <div class="item1">
                    <label for="">Fecha de pago</label>
                    <input type="text" name="" id="">
                </div>

                <div class="item6">
                    <label for="">Metodo de pago</label>
                    <select name="" id="">
                        <option value="">Tarjeta de credito</option>
                        <option value="">Tarjeta de debito</option>
                    </select>
                </div>

                <div class="item2">
                    <label for="">Numero comprobante</label>
                    <input type="text" name="" id="">
                </div>

                <div class="item7">
                    <label for="">Numero tarjeta</label>
                    <input type="text" name="" id="">
                </div>

                <div class="item3">
                    <label for="">Propina</label>
                    <input type="text" name="" id="">
                </div>

                <div class="item8">
                    <label for="">Codigo de seguridad</label>
                    <input type="text" name="" id="">
                </div>

                <div class="item4">
                    <label for="">Documento</label>
                    <input type="text" name="" id="">
                </div>

                <div class="item5">
                    <label for="">Importe total</label>
                    <input type="text" name="" id="">
                </div>

                <div class="item9">
                    <button type="submit">Confirmar pago</button>
                </div>

            </form>

        </div>
    </main>
</body>

</html>