<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/css2?family=Dokdo&display=swap" rel="stylesheet">
    <link href="../css/basic.css" rel="stylesheet">
    <link href="../css/registro.css" rel="stylesheet">
    <title>PetHero</title>
</head>
<body>
    <header>
        <h1>PetHero</h1>
        <img src="../imagenes/dog-logo-illustration-free-vector.jpg" alt="Logo">

    </header>

    <nav class="navegador">
        <a href="inicio.html">Inicio</a>
    </nav>

    <main>
        <div class="contenedor-form">
            <h1>Registro</h1>
            <h2>Datos personales</h2>

            <form class="form">
                    <input class="input-nombre" type="text" required placeholder="Nombre">
                    <input class="input-apellido" type="text" required placeholder="Apellido">
                    <input class="input-dni" type="number" required placeholder="DNI">
                    <input class="input-email" type="email" required placeholder="Email">
                    <input class="input-contraseña" type="password" required placeholder="Contraseña">
                    <input class="input-telefono" type="tel" required placeholder="Telefono">
                    <input class="input-nacimiento" type="date" required placeholder="Fecha de nacimiento">
                    <input class="input-ciudad" type="text" required placeholder="Ciudad">
                    <input class="input-calle" type="text" required placeholder="Calle">
                    <input class="input-num-calle" type="number" required placeholder="Numero">

                    <button class="button" type="submit">Registrarse</button>
            </form>
        </div>
    </main>

    <footer>
        <p>footer</p>
    </footer>
</body>
</html>