<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <link
      href="https://fonts.googleapis.com/css2?family=Dokdo&display=swap"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="../css/basic.css" />
    <link
      rel="stylesheet"
      href="../css/verHistorialServOfrecidos-guardian.css"
    />
    <link rel="shortcut icon" href="../imagenes/logo.png" type="image/x-icon" />

    <title>Historial de servicios ofrecidos</title>
  </head>

  <body>
    <header>
      <nav>
        <ul>
          <li><a href="inicio.html">Inicio</a></li>
          <li><a href="#">Sobre nosotros</a></li>
          <li><a href="#">Contacto</a></li>
        </ul>

        <div class="conTitulo"><h1 class="titulo">PetHero</h1></div>
        <div class="contImg">
          <img class="logo" src="../imagenes/logo.png" alt="Logo" />
        </div>
      </nav>
    </header>

    <main>
      <div class="contenedor">
        <h1 class="tit">Historial de servicios ofrecidos</h1>

        <div class="contInfo">
          <table class="tabla">
            <thead>
              <tr>
                <th>Fecha de cobro</th>
                <th>Nro de comprobante</th>
                <th>Nombre del dueño</th>
                <th>DNI</th>
                <th>Nombre de la mascota</th>
                <th>Raza</th>
                <th>Monto</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td>a</td>
                <td>a</td>
                <td>a</td>
                <td>a</td>
                <td>a</td>
                <td>a</td>
                <td>a</td>
              </tr>
              <tr>
                <td>b</td>
                <td>b</td>
                <td>b</td>
                <td>b</td>
                <td>b</td>
                <td>b</td>
                <td>b</td>
              </tr>
              <tr>
                <td>c</td>
                <td>c</td>
                <td>c</td>
                <td>c</td>
                <td>c</td>
                <td>c</td>
                <td>c</td>
              </tr>
            </tbody>
            <tfoot>
                <tr>
                    <td>Todos los datos actualizados.</td>
                </tr>
            </tfoot>
          </table>
        </div>
      </div>
    </main>
  </body>
</html>
