<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link href="https://fonts.googleapis.com/css2?family=Dokdo&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="../css/basic.css">
    <link rel="stylesheet" href="../css/visualizarGuardianes.css">

    <title>Visualizar Guardianes</title>

</head>

<body>

    <header> 
        <nav>

            <ul>
                <li><a href="inicio.html">Inicio</a></li>
                <li><a href="#">Sobre nosotros</a></li>
                <li><a href="#">Contacto</a></li>
            </ul>

            <div class="conTitulo"><h1 class="titulo">PetHero</h1></div>
            <div class="contImg"><img class="logo" src="../imagenes/logo.png" alt="Logo"></div>

        </nav>
    </header>

    <main>

        <h1 class="tituloG">Guardianes</h1>

        <div class="igual">
            <img class="imagenPerf" src="" alt="">
            <div class="info">
                <p>Nombre</p>
                <p>Disponibilidad</p>
                <button class="boton" type="submit">Ver perfil</button>
            </div>
        </div>

        <div class="igual">
            <img class="imagenPerf" src="" alt="">
            <div class="info">
            <p>Nombre</p>
            <p>Disponibilidad</p>
            <button class="boton" type="submit">Ver perfil</button>
            </div>
        </div>

    </main>

</body>

</html>